<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Capstone Project">
    <meta name="author" content="Fadil Karajic">
    <title>Inventory </title> 
    <meta charset="UTF-8">  

    {% load staticfiles %}  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Ubuntu">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>  
<body>  
<form method="POST" class="post-form" action="/invReq">  
        {% csrf_token %}  
  
    <h3>Enter Details</h3>  
    
   
    

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Part Number:</label>
    <div class="col-sm-10">
      {{ form.partNum }}
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Part Description:</label>
    <div class="col-sm-10">
      {{ form.partDesc }}
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Line Location:</label>
    <div class="col-sm-10">
      {{ form.lineLoc }} 
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Line Quantity:</label>
    <div class="col-sm-10">
      {{ form.lineQuantity }} 
      </div>
    </div>
  
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Line Makeup:</label>
    <div class="col-sm-10">
      {{ form.lineMakeup }} 
      </div>
    </div>  
 
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">System Quantity:</label>
    <div class="col-sm-10">
      {{ form.sysQuantity }} 
      </div>
    </div> 
    
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Comments:</label>
    <div class="col-sm-10">
      {{ form.comments }} 
      </div>
    </div>    
  
    <button type="submit" class="btn btn-success">Submit</button>  
    
</form>  
</body>  
</html>  